@import "tailwindcss";
@import "@fea-ui/styles";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 1rem;
	--primary: oklch(0.6761 0.0992 195.06);
	--primary-foreground: oklch(0.985 0 0);
}

@layer base {
	html {
		@apply scroll-smooth;
	}

	body {
		font-family: "Poppins", sans-serif;
	}
}
a {
	svg {
		@apply size-5;
	}
}

.container {
	@apply max-w-7xl;
}
