@import "tailwindcss";
@import "@fea-ui/styles";

@custom-variant dark (&: is(.dark *));

:root {
  --radius: 0.35rem;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

a {
  svg {
    @apply size-5;
  }
}

.container {
  @apply mx-auto px-4;
}
