/** Base Styling */
.button-group {
	@apply inline-flex items-center;
}

.button-group .button {
	@apply rounded-none;
}

.button-group .button:first-child {
	@apply rounded-l;
}

.button-group .button:last-child {
	@apply rounded-r;
}
