/** Base Styling */
.button {
	@apply cursor-pointer;

	@apply inline-flex items-center justify-center gap-2 rounded border font-medium text-nowrap;

	@apply w-fit px-4 py-4;

	@apply transition-[scale] motion-reduce:transition-none;

	&[data-hovered] {
		@apply brightness-90;
	}

	&[data-focused] {
		@apply status-focused;
	}

	&:active {
		@apply scale-95;
	}

	&[data-disabled] {
		@apply status-disabled;
	}

	&[data-pending] {
		@apply status-pending;
	}

	svg {
		@apply size-5 shrink-0;
	}
}

.button--sm {
	@apply h-8 text-sm;

	svg {
		@apply size-4;
	}
}

.button--md {
	@apply h-10;
}

.button--lg {
	@apply h-12;
}

.button--primary {
	@apply bg-primary text-primary-foreground;
}

.button--secondary {
	@apply bg-secondary text-secondary-foreground;
}

.button--outline {
	@apply bg-background text-foreground;
}

.button--danger {
	@apply bg-danger text-danger-foreground;
}

.button--ghost {
	@apply border-0 bg-transparent text-foreground;

	&:hover:not([data-disabled]) {
		@apply bg-secondary/10;
	}
}

.button--icon-only {
	@apply size-10;
}

.button--icon-only.button--sm {
	@apply size-8;
}

.button--icon-only.button--lg {
	@apply size-12;
}
