/** Base Styling */

.card {
  @apply w-full max-w-md rounded shadow;
  @apply flex flex-col gap-3 p-5;
}

/** Variants */
.card--default {
  @apply bg-card text-card-foreground;
}

.card--transparent {
  @apply bg-transparent;
}

/** Slots */
.card__header {
  @apply flex flex-col gap-1;
}

.card__title {
  @apply text-2xl font-bold;
}

.card__description {
  @apply text-muted-foreground text-base;
}

.card__body {
  @apply flex flex-col gap-3;
}

.card__footer {
  @apply flex items-center gap-3;
}
