/** Base Styling */
.link {
	@apply text-link underline-offset-2 inline-flex items-center;

	@apply transition-[color] motion-reduce:transition-none;

	&:visited {
		@apply text-link/70;
	}

	&:hover {
		@apply text-link/80;
	}

	&[data-active] {
		@apply font-semibold;
	}

	&:disabled,
	[data-disabled] {
		@apply text-muted cursor-not-allowed;
	}

	svg {
		@apply size-4 text-muted-foreground;
	}
}

.link--underline {
	@apply underline;
}

.link--no-underline {
	@apply no-underline;
}
