/** Base Styling */
.navbar {
	@apply bg-secondary/50 border-border relative z-50 flex h-(--navbar-height) w-full items-center justify-between border-b px-4 py-2;
}

.navbar__container {
	@apply mx-auto flex w-full max-w-7xl items-center justify-between;
}

.navbar__content {
	@apply flex items-center gap-2;
}

.navbar__toggle {
	@apply md:hidden;
}

.navbar__list {
	@apply hidden md:flex md:items-center md:gap-6;
}

.navbar__list-item {
	@apply list-none;
}

.navbar__menu {
	@apply bg-secondary/50 absolute top-16 left-0 hidden w-full flex-col border border-b py-4 md:hidden;

	@apply transition-[height] motion-reduce:transition-none;

	&[data-expanded="true"] {
		@apply flex;
	}
}

.navbar__menu-item {
	@apply w-full list-none px-4 py-2;
}
