.popover__positioner {
	width: var(--positioner-width);
	max-width: var(--available-width);
	height: var(--positioner-height);
}

.popover__popup {
	@apply px-3 py-2 rounded relative;

	@apply bg-overlay text-overlay-foreground shadow;

	@apply transition-[transform,scale] motion-reduce:transition-none;

	&[data-starting-style],
	&[data-ending-style] {
		@apply opacity-0 scale-90;
	}
}

.popover__arrow {
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	@apply size-4 bg-overlay absolute z-50 border-border;

	&[data-side="top"] {
		@apply -bottom-2 rotate-180;
	}

	&[data-side="right"] {
		@apply -start-3 rotate-90;
	}

	&[data-side="bottom"] {
		@apply -top-2;
	}

	&[data-side="left"] {
		@apply -end-3 -rotate-90;
	}
}

.popover__title {
	@apply font-medium;
}

.popover__description {
	@apply text-sm text-muted-foreground;
}

.popover__close {
	@apply absolute top-0 end-0 m-1;
}
