.popover {
	@apply bg-overlay text-overlay-foreground rounded shadow;
	@apply px-3 py-2;

	@apply transition-[opacity,scale] motion-reduce:transition-none;

	&[data-entering],
	&[data-exiting] {
		@apply opacity-0 scale-90;
	}
}
