/** Base Styling */
.tabs {
	@apply bg-surface/50 text-secondary-foreground rounded border;
}

.tabs__list {
	@apply bg-surface relative z-0 flex gap-1 rounded-t border-b px-1;
}

.tabs__tab {
	@apply m-0 flex appearance-none items-center justify-center border-0 bg-transparent outline-none;
	@apply text-muted-foreground break-keep whitespace-nowrap select-none hover-safe:text-foreground;
	@apply h-8 px-2 py-0;

	&[data-active] {
		@apply text-foreground;
	}

	@media (hover: hover) {
		&:hover {
			@apply text-foreground;
		}
	}

	&:focus-visible {
		@apply relative;

		&::before {
			content: "";
			@apply outline-primary absolute inset-x-0 inset-y-1 rounded outline-2 -outline-offset-1;
		}
	}
}

.tabs__indicator {
	width: var(--active-tab-width);

	translate: var(--active-tab-left) -50%;
	@apply bg-primary absolute bottom-0 left-0 -z-10 h-px;
	@apply transition-[translate,width] motion-reduce:transition-none;
}

.tabs__panel {
	@apply relative flex h-32 items-center justify-center outline-none;

	&:focus-visible {
		@apply status-focused;
	}
}
